*{      /*Default Value*/
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;    /*Background color*/
    color: #fff;            /*Font Color*/
}   
#header{        /*Background image*/
    width: 100%;
    height: 100vh;
    background-image: url(background.png);      
    background-size: cover;
    background-position: center;
}
.container{             /*Container Position*/
    padding: 1% 5%;
}
nav{        /*Navbar Element flex position*/
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav ul li{          /*Navbar Element Postion*/
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
}
nav ul li a{        /*Navbar Element Color & Size & Relative Position*/
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position:relative;
}
nav ul li a::after{         /*Hover Effect Time & Color*/
    content: '';
    width: 0;
    height:3px;
    background: #4dafe3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s ease-out;
}
nav ul li a:hover::after{       /*Hover Effect Size*/
    width: 100%;
}
.salutation{            /*Salutation Position*/
    margin-top: 20%;
    font-size: 30px;
}
.salutation h1{         /*Salutation Size*/
    font-size: 60px;
    margin-top: 20px;
}
h1 span{
    color: red;
}
/* ------------------------------ABOUT---------------------------- */
#about{         /*  Setting Section-2 Image size*/
    padding: 80px 0;        
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}